#chat-status,
#chat-screen {
  background-color: #abc1d1;
}
#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0px;
  background-color: #abc1d1;
  z-index: 1;
}
#chat-status {
  z-index: 2;
}

#chat-screen .main-chat {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
.chat__timestamp {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.726);
  border-radius: 20px;
  font-size: 14px;
  margin-bottom: 25px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 30%;
  margin-right: 10px;
}
.message__author {
  font-size: 15px;
  opacity: 0.8;
  margin-bottom: 8px;
  display: block;
}
.message__bubble {
  padding: 13px;
  background-color: white;
  border-radius: 10px;
  border-top-left-radius: 0px;
  margin-right: 8px;
  font-weight: 600;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__time {
  font-size: 12px;
  opacity: 0.8;
}

.message-row--own {
  justify-content: flex-end;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 10px;
  margin-left: 8px;
}
.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 40px;
  align-items: center;
  box-sizing: border-box;
}
.reply i {
  opacity: 0.5;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}
.reply input {
  padding: 11px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}
.reply__column:last-child > i,
.reply button {
  position: absolute;
  right: -17px;
  top: 5px;
}
.reply__column:last-child > i {
  right: 30px;
  top: 13px;
}
.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.reply__column button i {
  opacity: 1;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 90vw;
  transform: translate(-13%);
}
