.recommended-friends {
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 15px 0px;
}
.recommended-friends__title {
  color: var(--font-color);
  font-size: 14px;
}
.recommended-friends span {
  display: block;
  margin: 50px 0;
  text-align: center;
  font-weight: 600;
  color: var(--font-color);
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.8;
  margin: 15px 0px;
}
.open-chat__header span {
  opacity: 0.6;
}
.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
}
.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}
.open-post__hashtags {
  color: var(--font-color);
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
.open-post__members {
  color: var(--font-color);
  font-size: 12px;
  display: flex;
  align-items: center;
  margin-top: 4px;
}
.open-post__members img {
  height: 15px;
  width: 15px;
  border-radius: 40%;
  margin-right: 6px;
}
.open-post__members .divider {
  width: 1px;
  height: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0px 6px;
}
.open-post__member-status {
  color: #ff74c9;
  font-weight: 600;
}

.open-post__column:last-child {
  position: relative;
}
.open-post__photo img {
  width: 85px;
  height: 85px;
  border-radius: 20%;
}
.open-post__heart-count {
  color: white;
  width: 50px;
  height: 22px;
  background-color: rgba(119, 119, 115, 0.4);
  border-radius: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 7px;
  bottom: 10px;
}
.open-post__heart-count span {
  margin-left: 4px;
}
.open-post:last-child {
  border-top: var(--main-border);
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.4);
  }
  100% {
    color: white;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
