.more-screen {
  margin-top: -25px;
}
.more-screen .more-icon-row {
  margin-top: 35px;
}
.more-icon-row__icon span {
  margin-bottom: 40px;
}
.more-screen .more-user-component__column {
  color: rgb(0, 0, 0, 0.8);
}
.more-suggestions {
  padding-top: 15px;
  border-top: var(--main-border);
}
.more-suggestions__title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 30px;
}
.more-suggestions__icons {
  display: flex;
  justify-content: space-between;
}
.more-suggestions__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}
.more-suggestions__icon-image {
  width: 50px;
  height: 50px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: white;
  margin-bottom: 10px;
}
.more-suggestions__icon-empty {
  width: 50px;
  height: 50px;
  background-color: white;
}
