.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.badge2 {
  background-color: tomato;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
